<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid justify-content-start">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Quick ASP todo</a>
                @if (ViewData["Index"] != null)
                {
                    <a asp-page="/Entry" id="url-link" asp-route-cat="@((string)ViewData["Category"])">Create new todo card</a>
                }
            </div>

            @if (ViewData["Categories"] != null)
            {
                var categories = (IEnumerable<string>)ViewData["Categories"];
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="sel-category">Category</label>
                    </div>
                    <select class="custom-select" id="sel-category">
                        <option>none</option>
                        @if (categories.Count() > 0)
                        {
                            <optgroup label="---">
                            @foreach (var c in categories)
                            {
                                <option selected="@(c == (string)ViewData["Category"])">@c</option>
                            }
                            </optgroup>
                        }
                    </select>
                </div>
            }
        </nav>
    </header>

    <div class="container-fluid clearfix">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="ml-3">&copy; 2021 - miptleha - <a asp-area="" asp-page="/Privacy">Privacy</a></div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
